.page {
	$self: &;
	margin-bottom: 50px;

	&__inner {
		display: flex;
		margin: 0 -16px;
		
		@include media('<=sm') {
			flex-wrap: wrap;
		}
	}

	&__content {
		box-sizing: border-box;
		width: calc(100% / 4*3 - 24px);
		margin: 0 16px 24px;
		
		@include media('<=md') {
			width: calc(100% / 5*3 - 24px);
		}
		
		@include media('<=sm') {
			width: calc(100% - 24px);
		}
	}

	&__body {
		border-bottom: 1px solid #D9DADB;
		margin-bottom: 25px;
	}

	&__socials {

	}

	&__side {
		box-sizing: border-box;
		width: calc(100% / 4 - 24px);
		margin: 0 16px 24px;
		
		@include media('<=md') {
			width: calc(100% / 5*2 - 24px);
		}
		
		@include media('<=sm') {
			width: calc(100% - 24px);
		}
	}

	&__sidebar {

	}
}
