.p-tags {
	$self: &;
	margin-bottom: 25px;

	&__inner {
		display: flex;
		overflow: auto;
	}

	&__item {
		padding: 10px 16px;
		white-space: nowrap;
		border: 1px solid #D9DADB;
		border-radius: 25px;
		text-decoration: none;
		color: inherit;
		font-size: 14px;
		line-height: 1.3;
		transition: border-color 0.3s ease;

		&:not(:last-child) {
			margin-right: 10px;
		}

		&.active {
			color: #fff;
			background-color: #3270CA;
			border-color: #3270CA;
		}

		&_finished {
			padding-left: 40px;
			background: url('#{$images-path}ic-ready.png') center left 15px / auto no-repeat transparent;
		}

		&:hover {
			border-color: #3270CA;
		}
	}
}