.sidebar {
	$self: &;
	border: 1px solid #ECECEC;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
	padding: 24px;

	&__title {
		font-family: "RBL", sans-serif;
		text-transform: uppercase;
		font-size: 15px;
		margin-bottom: 10px;
	}

	&__item {
		
		&:not(:last-child) {
			border-bottom: 1px solid #D9DADB;
			padding-bottom: 16px;
			margin-bottom: 16px;
		}
	}

	&__text {
		font-family: "RM", sans-serif;
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	&__date {
		color: #939699;
		font-size: 12px;
	}

}
