<div class="menu-block__side">
	<div class="menu-block__side-links">
		<a href="./">Текущий сезон</a>
		<a href="./">Регламентирующая документация</a>
		<a href="./">Результаты</a>
		<a href="./">Документы комитета</a>
	</div>
	<div class="menu-block__cards">
		<div class="menu-block__card menu-card">
			<span class="menu-card__date">8 мая</span>
			<a class="menu-card__geo-link" href="./">Место</a>
			<p class="menu-card__location">Смоленская область Смоленское кольцо</p>
		</div>
		<div class="menu-block__card menu-card">
			<span class="menu-card__date">6 июня</span>
			<a class="menu-card__geo-link" href="./">Место</a>
			<p class="menu-card__location">Ленинградская область Игора Драйв</p>
		</div>
		<div class="menu-block__card menu-card">
			<span class="menu-card__date">20-22 августа</span>
			<a class="menu-card__geo-link" href="./">Место</a>
			<p class="menu-card__location">Московская область Moscow Raceway</p>
		</div>
	</div>
</div>
