<footer class="footer"> 
	<div class="container footer__inner">
		<div class="footer__top">
			<div class="footer__left-side">
				<div class="footer__menu">
					<div class="footer__menu-top">
						<a href="./">Федерация</a>
						<a href="./">Документы</a>
						<a href="./">Календари</a>
						<a href="./">Контакты</a>
					</div>
					<div class="footer__menu-bottom">
						<a href="./news.html">Новости</a>
						<a href="./">Решения РАФ</a>
						<a href="./">Документы</a>
						<a href="./">Календарь мероприятий</a>
						<a href="./">Фотографии</a>
					</div>
				</div>
				<a class="footer__btn button button_alarm" href="./">Сообщить о допинге</a>
			</div>
			<div class="footer__right-side">
				<p>Мы в социальных сетях</p>
				<div class="footer__socials socials socials_footer">
					<a class="socials__item socials__item_fb" href="./"></a>
					<a class="socials__item socials__item_tw" href="./"></a>
					<a class="socials__item socials__item_inst" href="./"></a>
					<a class="socials__item socials__item_yout" href="./"></a>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__bottom-side">
				<p class="footer__copyright">&copy; 2021  Российская Автомобильная Федерация</p>
				<div class="footer__badges">
					<a class="footer__badge-raf" href="./"></a>
					<a class="footer__badge-fia" href="./"></a>
				</div>
			</div>
			<button class="footer__scroll-top">Наверх</button>
		</div>
	</div>
</footer> 
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script> 
</body> 
</html> 
