<header class="header"> 
	<div class="container header__inner">
		<a href="./" class="header__logo">Российская автомобильная федерация</a>
		<form action="./" class="header__search">
			<input class="header__search-inp" type="text" placeholder="Поиск">
			<input class="header__search-submit" type="submit">
		</form>
		<div class="header__socials socials">
			<a href="./" class="socials__item socials__item_fb"></a>
			<a href="./" class="socials__item socials__item_inst"></a>
			<a href="./" class="socials__item socials__item_tw"></a>
		</div>
		<a class="header__login button button_login" href="./">Личный кабинет</a>
	</div>
</header>

<nav class="navi">
	<div class="container navi__inner">
		<ul class="navi__menu menu">
			<li class="menu__item-first">
				<span>Дисциплины</span>
				<div class="menu__block menu-block">
					<ul class="menu-block__items">
						<li class="menu-block__item">
							<a href="./">Ралли</a>
							<div class="menu-block__side">
								<div class="menu-block__side-links">
									
								</div>
								<div class="menu-block__side-cards">

								</div>
							</div>
						</li>
						<li class="menu-block__item">
							<a href="./">Кольцевые гонки</a>
							
						</li>
						<li class="menu-block__item">
							<a href="./">Трек и лед</a>
						
						</li>
						<li class="menu-block__item">
							<a href="./">Ралли-рейды</a>
						
						</li>
						<li class="menu-block__item">
							<a href="./">Трофи-рейды</a>
						
						</li>
						<li class="menu-block__item">
							<a href="./">Картинг</a>
						
						</li>
						<li class="menu-block__item">
							<a href="./">Дрэг-рейсинг</a>
						
						</li>
						<li class="menu-block__item">
							<a href="./">Дрифт</a>
						
						</li>
						<li class="menu-block__item">
							<a href="./">Автомногоборье</a>
						
						</li>
					</ul>
				</div>
			</li>
			<li class="menu__item menu__item_haschild">
				<span>Федерация</span>
				<ul class="menu__submenu">
					<li class="menu__subitem"><a href="./">Lorem ipsum</a></li>
					<li class="menu__subitem"><a href="./">Dolor amet</a></li>
					<li class="menu__subitem"><a href="./">Ullam adipisci</a></li>
					<li class="menu__subitem"><a href="./">Consectetur</a></li>
				</ul>
			</li>
			<li class="menu__item"><a href="./">Документы</a></li>
			<li class="menu__item"><a href="./">Календари</a></li>
			<li class="menu__item"><a href="./">Контакты</a></li>
		</ul>
		<a class="navi__fia" href="./">FIA Motorsport Games 2021</a>
	</div>
</nav>