<div class="menu-1__side">
	<div class="menu-1__side-links">
		<a href="./">Текущий сезон</a>
		<a href="./">Регламентирующая документация</a>
		<a href="./">Результаты</a>
		<a href="./">Документы комитета</a>
	</div>
	<div class="menu-1__cards">
		<div class="menu-1__card">
			<span class="menu-1__card-date">8 мая</span>
			<a class="menu-1__card-geo" href="./">Место</a>
			<p class="menu-1__card-location">Смоленская область Смоленское кольцо</p>
		</div>
		<div class="menu-1__card">
			<span class="menu-1__card-date">6 июня</span>
			<a class="menu-1__card-geo" href="./">Место</a>
			<p class="menu-1__card-location">Ленинградская область Игора Драйв</p>
		</div>
		<div class="menu-1__card">
			<span class="menu-1__card-date">20-22 августа</span>
			<a class="menu-1__card-geo" href="./">Место</a>
			<p class="menu-1__card-location">Московская область Moscow Raceway</p>
		</div>
	</div>
</div>
