<div class="menu-1__side">
	<div class="menu-1__side-links">
		<a href="./">Текущий сезон</a>
		<a href="./">Регламентирующая документация</a>
		<a href="./">Результаты</a>
		<a href="./">Документы комитета</a>
	</div>
	<div class="menu-1__cards">
		<div class="menu-1__card c-card c-card_finished">
			<h4 class="c-card__title">Ураласбест</h4>
			<div class="c-card__date">21-24 мая</div>
			<div class="c-card__pending">Завершён</div>
			<div class="c-card__downloads">
				<a href="./">Регламент</a>
				<a href="./">Справка</a>
				<a href="./">Результаты</a>
			</div>
			<a class="c-card__geo" href="./">Асбест, Свердловская обл.</a>
			<div class="c-card__tags">
				<div class="c-card__tag c-card__tag_kr">КР</div>
				<div class="c-card__tag c-card__tag_kraf">КРАФ</div>
			</div>
		</div>
		<div class="menu-1__card c-card c-card_now">
			<h4 class="c-card__title">Белые ночи</h4>
			<div class="c-card__date">18-21 июня</div>
			<div class="c-card__pending">Идёт</div>
			<div class="c-card__downloads">
				<a href="./">Регламент</a>
				<a href="./">Справка</a>
			</div>
			<a class="c-card__geo" href="./">Сортавала/Лахденпохья, респ. Карелия</a>
			<div class="c-card__tags">
				<div class="c-card__tag c-card__tag_chr">ЧР</div>
			</div>
		</div>
		<div class="menu-1__card c-card c-card_soon">
			<h4 class="c-card__title">Ураласбест</h4>
			<div class="c-card__date">23-26 июля</div>
			<div class="c-card__pending">Скоро</div>
			<div class="c-card__downloads">
				<a href="./">Регламент</a>
				<a href="./">Справка</a>
			</div>
			<a class="c-card__geo" href="./">Асбест, Свердловская обл.</a>
			<div class="c-card__tags">
				<div class="c-card__tag c-card__tag_chr">ЧР <span>Супер-1600</span></div>
				<div class="c-card__tag c-card__tag_kr">КР <span>Т1</span><span>Абс</span><span>С-1600</span></div>
			</div>
		</div>


		<!-- <div class="menu-1__card">
			<span class="menu-1__card-date">8 мая</span>
			<a class="menu-1__card-geo" href="./">Место</a>
			<p class="menu-1__card-location">Смоленская область Смоленское кольцо</p>
		</div>
		<div class="menu-1__card">
			<span class="menu-1__card-date">6 июня</span>
			<a class="menu-1__card-geo" href="./">Место</a>
			<p class="menu-1__card-location">Ленинградская область Игора Драйв</p>
		</div>
		<div class="menu-1__card">
			<span class="menu-1__card-date">20-22 августа</span>
			<a class="menu-1__card-geo" href="./">Место</a>
			<p class="menu-1__card-location">Московская область Moscow Raceway</p>
		</div> -->
	</div>
</div>
