<div class="modal__hidden">
	<div id="someform">
		<form class="form" action="./">
			<h2 class="form__title">Заголовок и описание формы</h2>
			<div class="form__field"><input type="text"></div>
			<div class="form__area"><textarea name="" ></textarea></div>
			<div class="form__select select">
				<select name="">
					<option value="1">По региону</option>
					<option value="1">По цвету</option>
					<option value="3">По зодиаку</option>
				</select>
			</div>
			<label class="form__check"><input type="checkbox" name="" checked><span>Чекбокс</span></label>
			<label class="form__check"><input type="checkbox" name=""><span>Чекбокс</span></label>
			<input class="form__submit button button_green" type="submit" value="Связаться">
		</form>
	</div>
</div>