.fdr {
	$self: &;

	&_details {
		#{$self}__items {
			grid-auto-rows: minmax(340px, auto);
		}

		#{$self}__item {
			.f-card__contacts {
				margin-bottom: 0;
			}
		}
	}
	
	&__title {
		
	}
	
	&__items {
		display: grid;
		// grid-template-columns: repeat(4, 1fr);
		grid-template-columns: repeat(auto-fit, minmax(250px, auto));
		grid-gap: 16px;
		grid-auto-rows: minmax(400px, auto);
		margin-bottom: 30px;
	}

	&__item {

	}
}
