.card {
	$self: &;
	box-sizing: border-box;
	border: 1px solid #ECECEC;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
	padding: 0 20px 20px;
	transition: box-shadow 0.3s ease;

	&:hover {
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
	}

	&_video {
		position: relative;
		display: block;
		padding: 0;
	
		#{$self}__image {
			height: 100%;
			margin: 0;
		}
		
		#{$self}__info {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 20px;
			background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
			text-decoration: none;
		}

		#{$self}__info-video {
			font-family: "RBL", sans-serif;
			font-size: 16px;
			line-height: 1.5;
			color: #fff;
			display: flex;
			align-items: center;
			
			&::before {
				display: block;
				content: '';
				width: 40px;
				height: 40px;
				border-radius: 50%;
				flex-shrink: 0;
				margin-right: 10px;
				background: url('#{$images-path}icons-sprite.svg#icon-play-view-white') center left 15px / 15px 18px no-repeat #3270CA;
			}
		}
	}
	
	&__image {
		box-sizing: border-box;
		height: 150px;
		margin: 0 -20px 20px;

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__title {
		font-family: "RB", sans-serif;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1.1;
		margin-bottom: 6px;

		&_lilack { color: #AC8EE3; }
		
		&_green { color: #83D8A4; }
		
		&_blue { color: #4592FF; }
	}

	&__brief {
		font-family: "RM", sans-serif;
		font-size: 16px;
		color: #1B1D28;
		line-height: 1.5;
	}

	&__info {
		box-sizing: border-box;
		display: flex;
		margin-top: auto;
		min-height: 20px;
		color: #939699;
		font-size: 12px;
	}

	&__info-date {
		&_time {
			padding-left: 30px;
			background: url('#{$images-path}icons-sprite.svg#icon-clock-view-grey') center left / 20px 20px no-repeat transparent;
		}
	}
	
	&__info-comments {
		padding-left: 22px;
		background: url('#{$images-path}icons-sprite.svg#icon-msg-view-grey') center left / 16px 15px no-repeat transparent;
		margin-right: 12px;
	}
	
	&__info-likes {
		padding-left: 22px;
		background: url('#{$images-path}icons-sprite.svg#icon-fav-view-grey') center left / 16px 15px no-repeat transparent;
		margin-right: 12px;
	}
}
