.f-card {
	$self: &;
	box-sizing: border-box;
	border: 1px solid #ECECEC;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
	padding: 24px;
	transition: box-shadow 0.3s ease;
	
	@include media('<=md') {
		flex-flow: row wrap;
	}

	&:hover {
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
	}

	&_nomodal {

		#{$self}__avatar {
			display: block;	
		}

		#{$self}__image {
			display: none;
		}

		#{$self}__name {
			font-size: 16px;
		}

		#{$self}__text {
			display: none;
		}
	}

	&__image {
		margin-bottom: 25px;
	}

	&__top {
		margin-bottom: 5px;
		
		@include media('<=sm') {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
		}
	}

	&__avatar {
		display: none;
		width: 120px;
		height: 120px;
		overflow: hidden;
		border-radius: 50%;
		margin-bottom: 25px;
		background: url('#{$images-path}icons-sprite.svg#icon-logo-view-white') center / 78px 76px no-repeat #E8E8E8;
		
		&[data-modal] {
			cursor: pointer;
		}

		@include media('<=sm') {
			width: 65px;
			height: 65px;
			flex-shrink: 0;
			margin: 0 20px 0 0;
		}
	}

	&__name {
		span:first-child {
			display: block;
			font-family: "RM", sans-serif;
			font-size: 18px;
			line-height: 1.2;
			margin-bottom: 5px;
		}
		span:last-child {
			color: #595B62;
		}

		@include media('<=sm') {

		}
	}

	&__text {
		padding: 30px 0;
		width: 100%;
	}
	
	&__contacts {
		margin: auto 0 25px;
		width: 100%;
	}

	&__contact {
		a {
			text-decoration: none;
			color: #3270CA;
		}
	}

	&__btn {
		align-self: flex-start;
	}

}
