.gm-slider {
	$self: &;
	height: 570px;
	border-radius: 10px;

	&__item {
		box-sizing: border-box;
		text-align: center;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 50px 40px 20px;
	}

	&__badge {
		margin-bottom: 40px;

		img {
			display: block;
			margin: 0 auto 10px;
		}
		
		span {
			color: #fff;
			font-size: 14px;
			display: block;
		}
	}

	&__title {
		display: block;
		max-width: 490px;
		font-family: "RB", sans-serif;
		font-size: 35px;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		line-height: 1.2;
		margin: 0 auto 25px;
	}

	&__btn {

	}

	&__navi {
		box-sizing: border-box;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 150px;
		width: 100%;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 25px;
		background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%)
	}

	&__dot {
		display: block;
		width: 20px;
		height: 20px;
		margin: 0 10px;
		position: relative;

		> svg {
			display: none;
			position: relative;
			z-index: 1;
			stroke: #fff;
			stroke-width: 2px;
			fill-opacity: 0;
			stroke-dasharray: 56;
			stroke-dashoffset: 57;
			animation: stroke linear forwards;
			@keyframes stroke {
				to { stroke-dashoffset: 0; }
			}
		}
		
		&::before {
			box-sizing: border-box;
			display: block;
			content: '';
			width: 20px;
			height: 20px;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url('#{$images-path}icons-sprite.svg#icon-bullet-view-white') center / 8px 8px no-repeat transparent;
			opacity: 0.5;
		}

		&_active {
			> svg { display: block; }
	
			&::before {
				opacity: 1;
				border: 2px solid rgba(255, 255, 255, 0.5);
			}
		}
	}
}
