.menu-block {
	$self: &;
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	color: #1B1D28;
	padding: 25px 0 35px;
	@keyframes block_fade {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}
	animation: block_fade 0.4s ease;

	&__inner {
		position: relative;
	}

	&__items {
		box-sizing: border-box;
		width: 160px;
		border-right: 1px solid #f0f0f0;
	}

	&__item {

		> a {
			display: block;
			font-family: "RM", sans-serif;
			font-size: 14px;
			padding: 9px 30px 9px 0;
			line-height: 1.2;
			text-decoration: none;
			color: #1B1D28;

			&:hover { color: #3270CA; }
		}
	}

	&__side {
		// @include outline();
		box-sizing: border-box;
		position: absolute;
		top: 0;
		right: 20px;
		width: calc(100% - 235px);
		height: 100%;
		display: flex;
	}

	&__side-links {
		box-sizing: border-box;
		width: 28%;
		max-width: 300px;
		padding-right: 16px;

		> a {
			font-size: 14px;
			display: block;
			padding: 9px 0;
			line-height: 1.2;
			text-decoration: none;
			color: #1B1D28;

			&:hover { color: #3270CA; }
		}
	}

	&__cards {
		width: 72%;
		display: grid;
		grid-template-columns: repeat(3, 1fr );
		grid-gap: 20px;
	}

	&__card {

	}
}
