.select {
	$self: &;
	display: inline-flex;
	box-sizing: border-box;
	position: relative;
	font-size: 14px;
	color: #000;
	background-color: #F8F8F8;
	border: 1px solid #D9DADB;
	border-radius: 10px;
	margin-bottom: 25px;
	height: 40px;

	&::after {
		display: block;
		content: '';
		width: 9px;
		height: 5px;
		background: url('#{$images-path}icons-sprite.svg#icon-arr_down-view-black') center / 9px 5px no-repeat transparent;
		position: absolute;
		right: 12px;
		top: 50%;
		transform: translateY(-50%);
	}
	
	select {
		border-radius: 10px;
		box-sizing: border-box;
		background: none;
		appearance: none;
		outline: none;
		border: none;
		height: 100%;
		padding: 0 30px 0 15px;
		cursor: pointer;
	}
}
