.header {
	$self: &;

	&__inner {
		min-height: 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		box-sizing: border-box;
		min-height: 60px;
		width: 230px;
		background: url('#{$images-path}icons-sprite.svg#icon-logo-view-black') left center / 62px 60px no-repeat,
					url('#{$images-path}icons-sprite.svg#icon-fia-view-black') right center / 50px 34px no-repeat transparent;
		font-family: "RR", sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		color: inherit;
		font-size: 10px;
		line-height: 1.2;
		padding: 10px 60px 10px 80px;
		margin-right: 20px;
	}

	&__search {
		display: flex;
		justify-content: space-between;
		height: 40px;
		width: 300px;
		border: 1px solid #D9DADB;
		border-radius: 5px;
		margin: 0 auto;

		@include media('<=md') {
			display: none;
		}
	}

	&__search-inp {
		@extend %reset-input;
		padding: 5px 15px;
		font-size: 14px;
		flex-grow: 1;
		
		&::placeholder {
			color: #c0c0c0;
		}
	}
	
	&__search-submit {
		@extend %reset-button;
		border-left: 1px solid #D9DADB;
		width: 50px;
		background: url('#{$images-path}icons-sprite.svg#icon-zoom-view-dark') center / 17.5px 18px no-repeat transparent;
	}

	&__socials {
		margin: 0 25px;

		@include media('<=md') {
			margin-left: auto;
		}

		@include media('<=sm') {
			display: none !important;
		}
	}

	&__login {
		@include media('<=sm') {
			display: none;
		}
	}

	&__toggle-btn {
		display: none;
		flex-shrink: 0;

		@include media('<=sm') {
			display: block;
			position: relative;
			z-index: 12;
		}
	}
}
