.d-news {
	$self: &;
	margin-bottom: 25px;

	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}

	&__top-title {
		color: #14161E;
		text-transform: uppercase;
		font-size: 15px;
		font-family: "RBL", sans-serif;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 400px;
		grid-gap: 24px;
		
		@include media('<=md') {
			grid-template-columns: repeat(3, 1fr);
		}
		
		@include media('<=sm') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=xxs') {
			display: flex;
			flex-wrap: wrap;
		}
	}
	
	&__item {
		
		@include media('<=xxs') {
			width: 100%;
			height: 370px;
		}

		&_wide {
			grid-column: auto / span 2;
	
			@include media('>=xxs') {
				&.card {
					.card__image { 
						height: 70%;
					}
		
					.card__brief {
						font-family: "RBL", sans-serif;
						line-height: 1.3;
					}
				}
			}
		}
	}
}
