.d-cld {
	$self: &;
	margin-bottom: 50px;

	&__title {

	}

	&__sort {
		display: flex;
		flex-flow: row wrap;
	}
	
	&__select {
		margin-right: 10px;
		
		&.select {
			height: 32px;
			border-radius: 6px;
		}
	}
	
	&__items {
		display: flex;
		flex-flow: row wrap;
		margin: 0 -8px;
	}

	&__item {
		margin: 0 8px 16px;
		width: calc(100% / 5 - 16px);
		
		@include media('<=md') {
			width: calc(100% / 4 - 16px);
		}
		
		@include media('<=sm') {
			width: calc(100% / 3 - 16px);
		}
		
		@include media('<=xs') {
			width: calc(100% / 2 - 16px);
		}
		
		@include media('<=xxs') {
			width: calc(100% / 1 - 16px);
		}
		
		&_wide {
			width: calc(100% / 5*2 - 16px);
			
			@include media('<=md') {
				width: calc(100% / 2 - 16px);
			}
			
			@include media('<=sm') {
				width: calc(100% / 3*2 - 16px);
			}
			
			@include media('<=xs') {
				width: calc(100% / 1 - 16px);
			}
		}
	}
}
